<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Page</title>
</head>
<body>
<div class="container">
<h1>Order a Pet</h1>
    <form action="order2" method="post">
        <label for="typeOfPet">What kind of pet would you like to order?</label>
        <input type="text" id="typeOfPet" name="typeOfPet"><br><br>

        <label for="color">Select a Color:</label>
        <select class="form-control" name="color" id="color">
            <option>
                --
                Select a color
                --
            </option>
            <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                <option>
                    {{ @colorOption }}
                </option>
            </repeat>
        </select>

        <br><br>
        <input type="submit" value="Place Order">
    </form>
</div>
</body>
</html>