<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Page, Continued</title>
</head>
<body>
    <h1>Order 2 Page</h1>

    <!-- pet's name -->
    <form method="post" action="order3">
        <div class="form-group">
            <label>What's your pet's name?:
                <input type="text" name="petName">
            </label>
        </div>
        <br>
        <input type="submit" value="Place Order">
    </form>

</body>
</html>