<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Page, Continued</title>
</head>
<body>
<h1>Get a Free Accessory!</h1>

<!-- pet's name -->
<form method="post" action="summary">
    <div class="form-group">
        <input type="radio" id="pinkBow" name="accessory" value="Pink Bow">
        <label for="pinkBow">Pink Bow</label><br>
        <input type="radio" id="blueBow" name="accessory" value="Blue Bow">
        <label for="blueBow">Blue Bow</label><br>
        <input type="radio" id="orangeBow" name="accessory" value="Orange Bow">
        <label for="orangeBow">Orange Bow</label>
    </div>
    <br>
    <input type="submit" value="Submit the Order">
</form>

</body>
</html>